<p>Dear <%= @order.user.name %> <%= @order.user.last_name %>,</p>

<p>Thank you for your reservation at Access inn Pattaya. Your reservation is <strong>confirmed</strong>.</p>

<h2> <em>Please see below details</em> </h2>
<% @order.bookings.each do |booking| %>
  <h4>Room type : </h4><%= booking.room.category.name %>
  <h4>Check-in : </h4><%= booking.start_at %>
  <h4>Check-out : </h4><%= booking.end_at %>
  <h4>Price paid : </h4><%= humanized_money_with_symbol booking.price / 100 %>
<% end %>

<p>See you soon !</p>

