<h1> Your reservation :</h1>

<%= @order.user.name %>

<% @order.bookings.each do |booking| %>

  <p>Please see below the confirmation of your reservation :</p>
  <%= booking.room.category.name %> : <%= booking.start_at %> - <%= booking.end_at %> - <%= humanized_money_with_symbol booking.price / 100 %>
<% end %>

<h2> See you soon, Access Inn team</h2>
