<h1>A reservation has been made :</h1>

<%= @order.user.name %>
<%= @order.user.last_name %>
<%= @order.user.email %>
<%= @order.user.phone %>
<%= @order.user.adress %>
<%= @order.user.city_code %>
<%= @order.user.country %>

<% @order.bookings.each do |booking| %>
  <%= booking.room.category.name %> : <%= booking.start_at %> - <%= booking.end_at %> - <%= humanized_money_with_symbol booking.price / 100 %>
<% end %>

<h2><%= @order.user.email %></h2>
