<div class="calendar-form">
  <%= simple_form_for [ @room, @booking ] do |f| %>
    <div class="calendar-container">
      <div class="calendar-box">
        <%= f.input :start_at, label: false, as: :string, input_html: {id: 'range_start'}, require: true %>
        <div class="title">
          Check-in
        </div>
        <div class="date">
          <div id="start-day-calendar" class="day">
            <%= Date.today.to_formatted_s(:short).split(" ").first %>
          </div>
          <div id="start-month-calendar" class="month">
          <%= Date.today.to_formatted_s(:short).split(" ").last %>
            <i class="fas fa-chevron-circle-down"></i>
          </div>
        </div>
      </div>
      <div class="calendar-box">
        <%= f.input :end_at, label: false, as: :string, input_html: {id: 'range_end'}, require: true  %>
        <div class="title">
          Check-out
        </div>
        <div class="date">
          <div id="end-day-calendar" class="day">
            <%= Date.today.to_formatted_s(:short).split(" ").first %>
          </div>
          <div id="end-month-calendar" class="month">
          <%= Date.today.to_formatted_s(:short).split(" ").last %>
            <i class="fas fa-chevron-circle-down"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="number">
      <div class="title">
        Number of rooms
      </div>
      <%= f.number_field :number, label: false, value: 1, min: 1, max: 11 %>
    </div>
    <%= f.submit "Book", class: "button-access-calendar", id: "sweet-alert-booking" %>
  <% end %>
</div>