<br>
<br>
<br>


<div class="container-index">

  <div class="row">

    <% @hash_bookings.each do |key, value| %>
      <div class="card-booking">
        <%= image_tag "rooms/"+ value[:room].photo, class: 'card-booking-image' %>
        <div class="room-tag">
          <div class="tag-room-name">
            <%= key.upcase %>
          </div>
        </div>
        <div class="card-booking-description">
          <div class="card-booking-description-title">
            My Reservation
          </div>
          <div class="card-booking-description-rooms">
            <div class="card-box">
              <i class="fas fa-bed"></i>
              <%= value[:number] %>
            </div>
            <div class="card-box">
              3
            </div>
          </div>
          <div class="card-booking-description-price">
              <%= humanized_money_with_symbol @amount %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= form_tag orders_path do %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>