<div class="container-index">

  <div class="row">

    <% @hash_bookings.each do |key, value| %>
      <div class="card-room">
        <%= image_tag "rooms/"+ value[:room].photo, class: 'card-room-image' %>
        <div class="card-room-infos">
          <%= link_to room_path(value[:room]), class:"link-without-style" do %>
            <div class="room-name">
              <h2><%= key %></h2>
            </div>
          <%end%>
          <div class="booking">
            <div class="booking-number">
              <i class="fas fa-bed"></i>
              <%= value[:number] %>
            </div>
            <div class="booking-number">
              
              <%= humanized_money_with_symbol @amount / 1_000 %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= form_tag orders_path do %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>