<div class="container-void-footer">
  <div class="banner-pages mb-4">
    <span id="" class="name"><%= t('page.allmybookings.title') %></span>
  </div>
  <% if @hash_bookings.present? %>

    <div class="container-bookings">
      <% count_booking = 0 %>
      <% @hash_bookings.each do |key, value| %>
        <% count_booking += 1 %>
        <div class="card-booking">
          <%= link_to "", destroy_bookings_path(value[:room].category), method: :delete, id:"delete-link-#{count_booking}", class: "hidden"%>
          <i class="far fa-times-circle" data-id="<%= count_booking %>" id="delete-icon-<%= count_booking %>"></i>
          <%= image_tag "rooms/"+ value[:room].photo, class: 'card-booking-image' %>
          <div class="room-tag">
            <div class="tag-room-name">
              <%= key.upcase %>
            </div>
          </div>
          <div class="card-booking-description text-center">
            <div class="card-booking-description-title">
              <%= t('page.allmybookings.title-card') %>
            </div>
            <div class="card-booking-description-rooms">
              <div class="card-box">
                <div class="title"><%= t('calendar.check-in') %></div>
                <div class="day"><%= value[:start_at].strftime('%d') %></div>
                <div class="month"><%= value[:start_at].strftime('%b') %>, <%= value[:start_at].strftime('%Y') %></div>
                <div class="text"><%= value[:start_at].strftime('%A').upcase %></div>
              </div>
              <div class="card-box">
                <div class="title"><%= t('calendar.check-out') %></div>
                <div class="day"><%= value[:end_at].strftime('%d') %></div>
                <div class="month"><%= value[:end_at].strftime('%b') %>, <%= value[:end_at].strftime('%Y') %></div>
                <div class="text"> <%= value[:end_at].strftime('%A').upcase %></div>
              </div>
            </div>
            <div class="card-booking-description-rooms">
              <div class="card-box">
                <%= value[:number] %>
                <div class="text"><%=t('page.allmybookings.rooms').pluralize(value[:number]).upcase %></div>
              </div>
              <div class="card-box">
                <%= value[:nigths] %>
                <div class="text"> <%= t('page.allmybookings.nights').pluralize(value[:nigths]).upcase %></div>
              </div>
            </div>
            <div class="card-booking-description-price">
              <div class="price">
                <%= humanized_money value[:price] %>
              </div>
              <div class="detail">
                <div class="symbol">
                  <%= (humanized_money_with_symbol value[:price]).first %>
                </div>
                <div class="total">
                  / <%= t('page.allmybookings.total') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= form_tag orders_path do %>
        <%= submit_tag t('page.allmybookings.completed'), class: 'button-access-book' %>
    </div>
    <% end %>
  <% else %>
    <div class="d-flex justify-content-center">
      You don't any have booking yet ...
    </div>
  <% end %>
</div>
