<div class="navbar-expand-md navbar-dark navbar-pattaya fixed-top">
  <div class="logo-access">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "accessinn-logo.png" %>
    <% end %>
  </div>


  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'home'%>">
          <%= link_to t('navbar.menu-1'), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'rooms'%>">
          <%= link_to t('navbar.menu-2'), rooms_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'restaurant'%>">
          <%= link_to t('navbar.menu-3'), restaurant_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'event'%>">
          <%= link_to t('navbar.menu-4'), event_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'contact'%>">
          <%= link_to t('navbar.menu-5'),contact_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'home'%>">

          <%= link_to t('navbar.menu-1'), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'rooms'%>">
          <%= link_to t('navbar.menu-2'), rooms_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'restaurant'%>">
          <%= link_to t('navbar.menu-3'), restaurant_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'event'%>">
          <%= link_to t('navbar.menu-4'), event_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'contact'%>">
          <%= link_to t('navbar.menu-5'),contact_path, class: "nav-link" %>
        </li>

      <% end %>

    </ul>

  </div>
  
  <div class="d-flex align-items-center">
    <% if user_signed_in? %>
      <%= link_to "PAY NOW", allmybookings_path, class: "button-access-book" %>
      <div class="nav-item dropdown">

          <%= image_tag "log-in.png", class: "avatar dropdown-toggle navbar-right", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to t('navbar.dropdown.menu-2'), "#", class: "dropdown-item" %>
          <%= link_to t('navbar.dropdown.menu-4'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>

      </div>
    <% else %>
      <div class="loggin">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
      <div>
        <div>
          <%= link_to "My booking", allmybookings_path, class: "button-access-book" %>
        </div>
      </div>
    <%end%>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'home'%>">
          <%= link_to t('navbar.menu-1'), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'rooms'%>">
          <%= link_to t('navbar.menu-2'), rooms_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'restaurant'%>">
          <%= link_to t('navbar.menu-3'), restaurant_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'event'%>">
          <%= link_to t('navbar.menu-4'), event_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'contact'%>">
          <%= link_to t('navbar.menu-5'),contact_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'home'%>">

          <%= link_to t('navbar.menu-1'), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'rooms'%>">
          <%= link_to t('navbar.menu-2'), rooms_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'restaurant'%>">
          <%= link_to t('navbar.menu-3'), restaurant_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'event'%>">
          <%= link_to t('navbar.menu-4'), event_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'contact'%>">
          <%= link_to t('navbar.menu-5'),contact_path, class: "nav-link" %>
        </li>

      <% end %>

    </ul>

  </div>

</div>
