<div class="navbar-expand-sm navbar-light navbar-pattaya fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "accessinn-logo.png" %>
  <% end %>


  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'home'%>">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'rooms'%>">
          <%= link_to "Rooms", rooms_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'restaurant'%>">
          <%= link_to "RestaurantBar", restaurant_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'event'%>">
          <%= link_to "Events", event_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active-pattaya' if params[:controller] == 'pages' && params[:action] == 'contact'%>">
          <%= link_to "Contact us",contact_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "PAY NOW", allmybookings_path, class: "button-access-book" %>
        </li>
        <li class="nav-item dropdown">


              <%= image_tag "log-in.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My account", "#", class: "dropdown-item" %>
              <%= link_to "My reservations", allmybookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>

        </li>
      <% else %>
        <li>
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Rooms", rooms_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "RestaurantBar", restaurant_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Events", event_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Contact us",contact_path, class: "nav-link" %>
        </li>

        <div class="loggin">
           <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        </div>

      <% end %>
    </ul>
  </div>
</div>
