<div class="calendar-form">
  <%= form_tag searchedrooms_path, method: :get do %>
    <div class="calendar-container">
      <div class="calendar-box border-right">
        <%= date_field :start_at, params[:start_at], required: false, id: "range_start" %>
        <div class="title">
          CHECK-IN
        </div>
        <div class="date">
          <div id="start-day-calendar" class="day">
            <%= Date.today.to_formatted_s(:short).split(" ").first %>
          </div>
          <div id="start-month-calendar" class="month">
          <%= Date.today.to_formatted_s(:short).split(" ").last %>
            <i class="fas fa-chevron-down fa-xs"></i>
          </div>
        </div>
      </div>
      <div class="calendar-box">
        <%= date_field :end_at, params[:end_at], required: false, id: "range_end", type: :text, class:"flatpickr-input" %>
        <div class="title">
          CHECK-OUT
        </div>
        <div class="date">
          <div id="end-day-calendar" class="day">
            <%= Date.today.to_formatted_s(:short).split(" ").first %>
          </div>
          <div id="end-month-calendar" class="month">
          <%= Date.today.to_formatted_s(:short).split(" ").last %>
            <i class="fas fa-chevron-down fa-xs"></i>
          </div>
        </div>
      </div>
    <%= submit_tag t('page.home.button-search'), class: "button-access-calendar" %>
    </div>
  <% end %>
</div>
