<div class="banner-pages">
  <span id="" class="name"><%= t('page.contact.title')%></span>
</div>

<div class="container-contact">
  <div class="contactus">

      <div class="contact-design" id="contact">
        <% if user_signed_in? %>
          <%= simple_form_for @contact, url: pages_path, remote: true do |f| %>
            <div class="form-contact">
              <div class="form-control-access">
                <%= f.input :message, class:"contact-form-message" %>
                <%= f.input :name, as: :hidden, input_html: { value: current_user.email } %>
                <%= f.input :email, as: :hidden, input_html: { value: current_user.email } %>
                <%= f.input :phone, as: :hidden, input_html: { value: current_user.email } %>

                <i class="fas fa-check-circle "></i>
                <i class="fas fa-exclamation-circle"></i>

                <div class="text-error-message">
                  <small>Please tell us more</small>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class='button-access' id='sweet-alert-message'><%= t('page.contact.send-btn') %></button>
              </div>

            </div>
          <% end %>
        <% else %>
          <%= render 'shared/contact_form' %>
        <% end %>
      </div>


  <div class="infos-hotel">
    <div class="map-contact">
      <%= render 'shared/map' %>
    </div>

    <div class="informations">

      <div class="left mt-3">

              <span>  <i class="fas fa-home mr-3 style-picto "></i> 315/29 Moo 9, Nongprue, Banglamung</span>
           <hr>
              <a href="mailto:reservations@accessinnpattaya.com" class="link-without-style">  <i class="fas fa-envelope mr-3 style-picto hidden-picto"></i> reservations@accessinnpattaya.com</a>
           <hr>
              <span>  <i class="fas fa-clock mr-3 style-picto "></i> Check in : 2:00 pm</span>
        <hr>
        <a href="tel:+6638721076" class="link-without-style size number"> <strong>+66(0) 38 721 076</strong></a>


      </div>
      <div class="right mt-3">

            <span>  <i class="fas mr-3 style-picto"></i>Pattaya, Thailand</span>
        <hr>
            <span>  <i class="fas fa-phone mr-3 style-picto"></i>+66(0) 38 721 076</span>
        <hr>
            <span>  <i class="far fa-clock mr-3 style-picto "></i> Check out : 12:OO am</span>
        <hr>

      <h2 class="open"> <strong><%=t('page.contact.open-24')%></strong></h2>
      </div>
    </div>
  </div>

  </div>
</div>

<% if sent %>
  <span id="message-sent"></span>
<% end %>
