<div class="banner-resto">
  <span class="name">Restaurant & Bar</span>
</div>

<div>
    <p class="text-center pt-4 line">_______</p>
  <h1 class="text-center pt-1 title-home"><%= t('restaurant.title-menu') %></h1>
  <p><%= t('restaurant.text-menu') %></p>
</div>

<div id="gallery">

  <div class="gallery-wrapper" >
    <div class="gallery-container h-2">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/vin", id: "image-restaurant" %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
         <%= image_tag "restaurant/friedrice", id: "image-restaurant"  %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
        <%= image_tag "restaurant/restaurantfour", id: "image-restaurant"  %>
        </div>
      </div>
    </div>

    <div class="gallery-container h-2 w-3">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restaurantlpt.jpg", id: "image-restaurant"  %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <div class="images-resto">
            <%= image_tag "restaurant/icecream", id: "image-restaurant"  %>
          </div>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/oyster" %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restaurantseven" %>
        </div>
      </div>
    </div>

    <div class="gallery-container w-2 h-3">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/seafoodplate" %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restauranttwo" %>
        </div>
      </div>
    </div>

     <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restaurantthree" %>
        </div>
      </div>
    </div>

    <div class="gallery-container w-2 h-3">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/salmonpasta" %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restaurant" %>
        </div>
      </div>
    </div>

     <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/salmonsteak" %>
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/seabasstwo" %>
        </div>
      </div>
    </div>

  </div>

</div>
