<div class="banner-resto">
  <span class="name"><%= t('page.restaurant.title-banner') %></span>
</div>

<div>
    <p class="text-center pt-4 line">_______</p>
  <h1 class="text-center py-2 title-home"><%= t('page.restaurant.title-menu') %></h1>

</div>

<div id="gallery">

  <div class="gallery-wrapper" >
    <div class="gallery-container h-2">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restaurant-nightime.jpg", id: "image-restaurant"  %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
         <%= image_tag "restaurant/friedrice.jpg", id: "image-restaurant"  %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
        <%= image_tag "restaurant/restaurantfour.jpg", id: "image-restaurant"  %>
        </div>
      </div>
    </div>

    <div class="gallery-container h-2 w-3">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restaurantlpt.jpg", id: "image-restaurant"  %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <div class="images-resto">
            <%= image_tag "restaurant/vin.jpg", id: "image-restaurant" %>
          </div>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/oyster.jpg" %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restaurantseven.jpg" %>
        </div>
      </div>
    </div>

    <div class="gallery-container w-2 h-3">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/seafoodplate.jpg" %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restauranttwo.jpg" %>
        </div>
      </div>
    </div>

     <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restaurantthree.jpg" %>
        </div>
      </div>
    </div>

    <div class="gallery-container w-2 h-3">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/salmonpasta.jpg" %>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/restaurant.jpg" %>
        </div>
      </div>
    </div>

     <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/salmonsteak.jpg" %>
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <%= image_tag "restaurant/seabasstwo.jpg" %>
        </div>
      </div>
    </div>

  </div>

</div>
