<br>
<br>
<br>
<br>
<div class="container-void-footer mx-5">
  <div class="summary-header">
    <h1><%= t('page.allmybookings.title') %></h1>
    <button id="pay" class="button-access-book">Pay <%= humanized_money_with_symbol @order.amount %></button>
  </div>
  <div class="card-payment title-summary">
    <div><%=t('page.allmybookings.rooms')%>
    <hr>
    </div>
    <div><%= t('page.allmybookings.nights')%> * <%=t('page.allmybookings.price')%><hr></div>
    <div><%= t('page.allmybookings.total') %><hr></div>
  </div>
  <% @hash_bookings.each do |key, value| %>
    <div class="card-payment">
      <div><%= key %></div>
      <div><%= " #{value[:nigths]} #{t('page.allmybookings.nights')} * #{humanized_money_with_symbol value[:price]}" %></div>
      <div><%= "#{humanized_money_with_symbol value[:price]*value[:nigths]}" %></div>
    </div>
  <% end %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id %>'
      });
    });
  </script>
</div>
