<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
      <meta name="description" content="<%= meta_description %>">
      <!-- Facebook Open Graph data -->
      <meta property="og:title" content="<%= meta_title %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= meta_image %>" />
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:site_name" content="<%= meta_title %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body data-marker-env = "<%= Rails.env %>" class="content">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="elfsight-app-03419e3e-8f6c-424c-9aca-d4e98da2d3bb"></div>
    <%= yield %>
    <%= render 'shared/footer' %>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
    <script type="text/javascript">
      var LOCALE = "<%= I18n.locale %>";
    </script>
  </body>
</html>
